*{
    margin: 0;
    padding: 0;
}
div{
    width: 100%;
    height: 300px;
}
#divWithbgColor{
    background-color: #909090;
    opacity: 0.2;
}
#divWithbgImage{
    background-image: url('./image/flower1.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size:contain;
}
#divWithbgProp{
    background: url('./image/flower1.jpg') no-repeat fixed;
}