ul{
    border: 1px solid black;
    list-style-type: circle;
}
#withPosInside{
    list-style-position: inside;
    list-style-type: lower-alpha;
    list-style-type: none;
    list-style-image: url('./flower.jpg');

}