body {
    width: 90%;
    padding: 25px;
    position: relative;
}

header {
    background-color: rgb(216, 206, 206);
    height: 80px;
    padding: 20px;
    text-align: center;
}

h1{
    color:blue
}

main {
    font-size: 18px;
    font-family: system-ui;
    height: 250px;
}

nav {
    background-color: black;
    color: white;
    height: 50px
}

ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

ul li {
    display: inline-block;
    padding: 12px;
    width: 30%;
}

ul li a {
    color: white;
    text-decoration: none;
    padding: 14px;
    font-size: 18px;
}

ul li a:hover {
    background-color: white;
    color: black;
}

footer {
    width: 100%;
    background-color: rgb(216, 206, 206);
    height: 80px;
    padding: 20px;
    text-align: center;
}