nav{
    width: 90%;
    margin: auto;
    height: 50px;
}
nav ul{
    padding:0;
    margin:0
}
nav ul li{
    float: left;
    width: 100px;
    list-style: none;
}
nav ul li a{
    color: black
}

.tabs{
    display: none;
}
.tabs:target{
    display: block;
}